*
{
    margin:0;
    padding:0;
    
}
.navbar-toggler{
    outline: none !important;
    padding: 0 !important;
}
.navbar-toggler img{
    width: 35px;
}
.nav-link{
    color: blue !important;
    font-weight: 600;
    margin-left: 30px;

}
.wrapper{
    margin: 50px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 2px rgba(37,73,214,018);
}
.feature-box{
padding: 30px;
}
.feature-box h1{
margin-top: 10px;
color: chocolate;
}
.feature-box p{
    margin: 30px auto;
    color: blue;
}

.feature-box a{
    text-decoration: none !important;
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px 10px;
    margin-right: 30px;
    border: 2px solid #a6693e !important;
    color: #fff;
}
.btn-one{
    color: blue ;
}
.feature-img{
    padding: 30px;
    size: 200px 200px;
}